// colores degrade//
$color-principal: #12358b;
$color-secundario: #a8b8d3;
//paleta de colores restantes//
$color-fondo: #d1d5ec;
$color-texto: rgb(0, 0, 0);
$color-img: #b9d4db;
$color-transicion: rgb(238, 206, 206);
//fuentes//
$fuente-tittle: "bungee shade", sans-serif;
$fuente-principal: "Jacques Francois Shadow", serif;
